#sub-container-disruption{
    display: flex;
}

.disruption-header{
    order:0;
}

.arrow-open-disruption{
    order:1;
    flex: content;
    display: flex;
}

.arrow-open-disruption .tools {
    flex: content;

}